{%load static%}

<!-- <!DOCTYPE html>
<html>
<head>
	<style>

	</style>
	<link rel="stylesheet" href="{%static 'css/mystyle.css'%}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>HOME PAGE</title>
</head>
<body>
<h1>GOTHAM NEEDS YOU BATMAN </h1>
<img id="im"src="{%static 'images/bg.png'%}"/>
</body>
</html> -->
<!DOCTYPE html>
<html>
<head>
	<style>

	</style>
	<link rel="stylesheet" href="{%static 'css/mystyle.css'%}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Student Login Page</title>
</head>
<body>
<center>
	<h1>LOGIN</h1><hr>
	<form>
		<label>Email: </label><br>
		<input type="email" placeholder="Enter your Email" required/>
		<br><br>
		<label>Password: </label><br>
		<input type="password" placeholder="Enter your Password" required/>
		<br><br><br>
		<button>LOGIN</button>
	</form>
	<p>Dont have an account? <a href="reg">create one</a></p>
</center>
</body>
</html>